
body{
    font-family: sans-serif;
    background-color: #FFFFFF;
    font-size: 1.2rem;

}

 /*Header part*/

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0E3982;
    height: 8em;
}

.header-title{
    color: aliceblue;
}

a{
    color: aliceblue;
    margin-left: 1em;
    text-underline-offset: 5px;
    transition: color 0.3s ease;
}

a:hover{
    color: #4cafe9;

}

#burger-menu{
    transition: color 0.3s ease;
}

#burger-menu:hover{
    color: #4cafe9;
}

.nav-bar{
    display: flex;
}

.account-responsive{
    display: none;
    color: #ffffff;
}

.account-responsive:hover{
    cursor:pointer;
}

.modalInscriptionConexion{
    display: none; 
    position: fixed;
    top: 0;
    right: -70%;
    width: 100%;
    height: 100%;
    background-color: #1F353F;
    transition: left 0.5s ease;
    flex-direction: column;
    align-items: flex-start;

}

.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #1F353F;
    margin-left: 1em;
    font-size: 18px;
    padding: 0 1em;
    border-radius: 0.8em;
    background-color: aliceblue;
    border: 1px solid #e8e8e8;
  }
  
 .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #4cafe9;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  .button2:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #4cafe9;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #4cafe9;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  } 




  @media screen and (min-width:1001px){
    .modalInscriptionConexion{
        display: none !important;
    }
  }

  @media screen and (max-width:1000px) { 

    header{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .account-responsive{
        display: block;
    }

    .account{
        display: none;
    }

    .contact{
        margin-right: 1.5em;
    }

   }
   /* Main Part*/
   main{
    background-color: #FFFFFF;
    line-height: 2.6rem;
    font-size: 1.3rem;
   }

   .first-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

   }

   .p-first-section{
    display: flex;
    flex-direction: column;
    width: 35%;
   }

   .section-title{
    font-size: 3rem;
    text-align: center;
    margin: 3.5rem;
    color: #0E3982;
   }

   .second-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
   }

   .p-second-section{
    display: flex;
    flex-direction: column;
    width: 35%;
   }

   @media screen and (max-width:1350px){
    .first-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .p-first-section{
        text-align: left;
        margin: 0 6rem 0 6rem;
        line-height:2em;
        width: auto;
    }

    .second-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .p-second-section{
        text-align: left;
        margin: 0 6rem 0 6rem;
        line-height:2em;
        width: auto;
    }
   }

   /* Footer Part */
   
   footer{
    background-color: #0E3982;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 35rem;
   }

   .footer-question{
    padding: 0 2rem 0 2rem;
    margin-top: 3rem;
    line-height:2em;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
   }

   .footer-location{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .footer-tel{
    margin-top: 1rem;
   }

   .footer-email{
    margin-top: 1rem;
   }
   .footer-réseaux-logo{
    margin-top: 1rem;
   }

   .footer-copyright{
    margin: 1rem 0 2rem 0;
   }